
/* ---------------------------------------- General Classes  --------------------------------------------------------------------*/

body{
    background-color: rgb(250,250,250);
    padding: 0;
    width: auto;
    height: 100vh;
}

.section_heading{
    padding: 1rem 0;
}

.underline{
    text-decoration: underline;
}

nav .brand-logo{
    width: 90%;
    font-size: 1.6rem;
    text-align: right;
    
}

.intro{
    padding: 1rem 0;
}

.advert{
    width: 100%;
    text-align: center;
}
/* ---------------------------------------- Responsive Design Elements --------------------------------------------------------------------*/

@media only screen and (min-width:600px){
   nav .brand-logo{
    width: 30%;
    text-align: left;
}
}