
/* ---------------------------------------- General Classes  --------------------------------------------------------------------*/
html{
    width: 100vw;
    padding:0;
}
body{
    background-color: rgb(250,250,250);
    padding: 0;
    width: 100%;
}

.footer{
    background-color: #ee6e73;
    height: 4rem;
    padding:0 ;
}
nav .nav-wrapper {
    padding:0;
}
.underline{
    text-decoration: underline;
}

nav ul {
    padding: 0;
    margin: 0 1rem;
    
}
.row .col{
    padding: 0;
    
}
.col .row{
    margin-left: 0;
    margin-right: 0;
}
.drag-target{
    width:0px;
}
nav .brand-logo{
    height: inherit;
    width:auto;
    font-size: 1.3rem;
    text-align: center;
    
}

.intro{
    padding: 1rem 0;
}

.advert{
    text-align: center;
    width:90%;
    
}

.advert-containers a{
    margin: 0 auto;
}
.advert-side{
    display: none;

}

input{
    margin: 0 1rem;
}
/* ---------------------------------------- Responsive Design Elements --------------------------------------------------------------------*/

@media only screen and (min-width:600px){
   
    .advert-side{
        display: inline-flex;
        margin: 4rem auto; 
        width: 100%;
        height:auto;
        
    }
}

@media only screen and (min-width:1025px){
    .advert{
    display: none;
}

}