{% extends 'base.html' %} {% block content %}
{% if error is defined %}
    {{error}}
{% else %}
    <p class="badge"><strong>{{message}}</strong></p>
{% endif %}
<div class="row">
    <div class="col s6">
        <h4 class="section-header">{{ recipe.recipe_name }}</h4> 
    </div>
    <div class="col s6">
        <!-- if statement checks if user has favourites and if recipe is in already and uses corresponding action button -->
        {% if not user.favourites %}
        <!-- Button element taken from https://materializecss.com/buttons.html -->
        <button class="btn waves-effect waves-light playlist favourite" name="action" onclick="add_favourite('{{recipe.recipe_name}}', '{{recipe._id}}')">
            Add Favourite
            <i class="material-icons right">playlist_add</i>
        </button>
        {% else %} 
        {% if recipe._id in user.favourites %}
        <button class="btn waves-effect waves-light playlist orange favourite" type="submit" name="action" onclick="remove_favourite('{{recipe.recipe_name}}', '{{recipe._id}}')">
            Remove Favourite
            <br />
            <i class="material-icons center">cancel</i>
        </button>

        {% else %}
        
        <button class="btn waves-effect waves-light playlist favourite" type="submit" name="action" onclick="add_favourite('{{recipe.recipe_name}}', '{{recipe._id}}')">
            Add Favourite
            <i class="material-icons right">playlist_add</i>
        </button>

        {% endif %} {% endif %}
    </div>
</div>

<h5>Added by - {{ recipe.added_by }}</h5>

<p>Cooking time - {{ recipe.cooking_time }} mins</p>

<p>Difficulty - {{ recipe.difficulty.capitalize() }}</p>
<table>
    <tr>
        <td><strong>Ingredients </strong></td>
        <td><strong>Quantity </strong></td>
    </tr>
    {% for ingredient, quantity in recipe.ingredients %}
    <tr>
        <td>{{ ingredient }}</td>
        <td>{{ quantity}}</td>
    </tr>

    {% endfor %}
</table>
<div class="row">
    <div class="col s12 m0 advert-containers">
        <a href="https://globalknives.uk/"><img class="advert" src="{{ url_for('static', filename='images/global-knives-homepage-banner-text.jpg') }}" /></a>
    </div>
</div>
<h4 class="section-header">Method</h4>
<ol>
    {% for line in recipe.method %} {% if line == '    ' %}
    <br />
    {% else %}
    <li>{{line}}</li>
    {% endif %} {% endfor %}
</ol>
<script>
    // Saves recipe to favourite in user database - first checks user exists before calling python api
    function add_favourite(recipe_name, recipe_id){
        let urlFor;
        let toastMessage;
        {% if 'username' in session %}
            urlFor = "{{url_for('add_favourite', recipe_name='fake_name', recipe_id='fake_id')}}".replace('fake_name', recipe_name).replace('fake_id', recipe_id)
            toastMessage = "Recipe added to your favourites";

        {% else %}
            toastMessage = "Please login or register to add recipes to your favourites"
            alert(toastMessage);

        {% endif %}
        $.ajax({type:'POST', url: urlFor}).done(function(){
            alert(toastMessage)
            $(".favourite").addClass("grey")
        });
    }
    // Removes recipe from favourites
    function remove_favourite(recipe_name,recipe_id){
        let urlFor;
        let toastMessage;
          urlFor = "{{url_for('remove_favourite', recipe_name='fake_name', recipe_id='fake_id')}}".replace('fake_name', recipe_name).replace('fake_id', recipe_id)
          toastMessage = "Recipe removed from favourites"
        $.ajax({type:'POST', url: urlFor}).done(function(){
            alert(toastMessage)
            $(".favourite").removeClass("orange");
            $(".favourite").addClass("grey")
        });
    }
</script>
{% endblock %}
