{% extends 'base.html' %} {% block content %}

<h2>{{ recipe.recipe_name }}</h2>

<h5>Added by - {{ recipe.added_by }}</h5>

<p>Cooking time - {{ recipe.cooking_time }} mins</p>

<p>Difficulty - {{ recipe.difficulty }}</p>
<table>
<tr>
    <td><strong>Ingredients </strong> </td>
    <td><strong>Quantity </strong></td>
  </tr>
  {% for ingredient, quantity in recipe.ingredients %}
  <tr>
    <td>{{ ingredient }}</td>
    <td>{{ quantity}}</td>
  </tr>

  {% endfor %}
</table>
<p>{{ recipe.method }}</p>

{% endblock %}
