{% extends 'loggedin.html' %}{% block content %}

<h4> Welcome {{ user.first_name.capitalize() }} </h4>

<h5> My Recipes </h5>
{% if recipes %}
    {% for recipe in recipes %}
    <a> {{ recipe.recipe_name }} </a>
    {% endfor %}
{% else %}
    <p> You have not currently added any recipes </p>
{% endif %}

<h5> Favourited Recipes </h5>

{% if user.favourite_recipes %}
    {% for recipe in user.favourite_recipes %}
    <a> {{ recipe }} </a>
    {% endfor %}
{% else %}
    <p> You have not currently favourited any recipes </p>
{% endif %}
{% endblock %}